name: build

on:
  push:
    branches:
      - main
    tags:
      - '*'
  workflow_dispatch: # allow manual dispatch

env:
  REGISTRY: ghcr.io
  BASE_NAME: graphops/docker-builds

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        context:
          - init-toolbox
          - graph-toolbox
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            src:
              - 'dockerfiles/${{ matrix.context }}/**'

      - if: steps.changes.outputs.src == 'true'
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.BASE_NAME }}/${{ matrix.context }}

      - if: steps.changes.outputs.src == 'true'
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./dockerfiles/${{ matrix.context }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}